.box1{
    margin-top: 3%;
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.84);
    opacity: 0.3;
    width: 30vh;
    height: 80vh;
}

.box2{
    margin-top: 3%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.84);
    opacity: 0.3;
    width: available;
    height: 80vh;
}

.box3{
    margin-top: 3%;
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    opacity: 0.3;
    background-color: rgba(0, 0, 0, 0.84);
    width: available;
    height: 80vh;
    overflow-y: scroll;
}

.box{
    box-shadow: -5px 5px lightslategray;
    border: 1px solid black;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    height: 65vh;
    width: available;
}

.textChat{
    color: white;
}

.ChatTextField{
    width: 100px;

}
