/******* Footer *******/
footer {
    padding: 1em;
    /* background-color: #111111; */
    border-top: 1px solid grey;
    background: linear-gradient(#000, #1f1f1f);
    color: white;
}

footer > h4 {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    color: grey;
}

.stay_connected_icons {
    width: 30%;
    margin: 1em auto 3em;
    display: flex;
    justify-content: center;
    gap: 10%;
    list-style-type: none;
}

.stay_connected_icons li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #050505;
    border-radius: 50%;
    font-size: 20px;
    color: #666;
    transition: .5s;
}

.stay_connected_icons i {
    align-self: center;
    margin-left: -10px;
    margin-top: 10px;
}

.stay_connected_icons li a:before {
    width:100%;
    height:100%;
    border-radius:50%;
    background: rebeccapurple;
    transition: .5s;
    transform: scale(.9);
}

.stay_connected_icons li a:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px rebeccapurple;
    filter: blur(3px);
}

.stay_connected_icons li a:hover {
    color: rgb(136, 76, 196);
    box-shadow: 0 0 15px rebeccapurple;
    text-shadow: 0 0 15px rebeccapurple;
}

.footer_links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    list-style-type: none;
}

.footer_copyright {
    color: grey;
    text-align: center;
    font-size: 10pt;
}

li > a {
    color: grey;
    text-decoration: none;
}

li > a:hover {
    color: rebeccapurple;
}

.triangle {
    color: #35d795;
}

.circle {
    color: #e63834;
}

.x {
    color: #6983c2;
}

.square {
    color: #dc94c9;
}