.games_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.games_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 3% auto;
}

.games_search {
    display: flex;
    align-items: center;
}

.search_bar {
    width: 350px;
}

.display_games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.game_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
